@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  font: 1.5rem 'Asap', sans-serif;
  background-image: linear-gradient(120deg, #9890e3 0%, #b1f4cf 100%);
}

.wrapper {
  width: 650px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  margin: 0 0 20px;
  font-size: 2.75rem;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.5);
}

p {
  margin: 0 0 40px;
}

input {
  appearance: none;
  display: inline-block;
  width: 100px;
  padding: 0;
  border: 0;
  border-bottom: 2px dashed #fff;
  border-radius: 0;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  background-color: transparent;
}

.hwt-container {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.hwt-content {
  width: 650px !important;
  height: 225px !important;
  padding: 20px !important;
  border: 1px solid #fff !important;
  text-align: left !important;
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
  
  mark {
    border-radius: 2px;
    background-color: #fcc2d7;
    box-shadow: 0 0 0 1px #fff;
    
    &.blue {
      background-color: #a3daff;
    }
    
    &.pink {
      background-color: #fcc2d7;
    }
    &.red {
      /* background-color: #fcc2c2; */
      background-color: #fc6d6d;
    }
  }
}


.tooltip-custom {
  background-color: grey;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  display: none;
  position: absolute;
  z-index: 1000;
  white-space: nowrap;
}

.tooltip-descricao {
  font-size: 10px;
}

.btn-sugestao {
  font-size: 10px !important;
  color: black;
  padding: 5px;
}


.tooltip-sugestoes{
  display: flex;
  gap: 5px;
}